---
import { Image } from "astro:assets";

import imageBannerHome from "../assets/images/peter-hansen-MeGmdPNe36w-unsplash.webp";
import imageLogoDivisorVertical from "../assets/images/logos/logo-crucerosXmundo-01.png";
import imageLogoDivisorHorizontal from "../assets/images/logos/logo-crucerosXmundo-01-horizontal.png";
import imageLogoDivisor2Horizontal from "../assets/images/logos/logo-crucerosXmundo-2-horizontal.png";

import imageMarca1 from "../assets/images/marcas/celebrity-x-cruises-logo.png";
import imageMarca2 from "../assets/images/marcas/disney-cruise-line-logo.png";
import imageMarca3 from "../assets/images/marcas/explora-journeys-logo.png";
import imageMarca4 from "../assets/images/marcas/princess-line-logo.png";
import imageMarca5 from "../assets/images/marcas/royal-caribbean-logo.png";

import imageExperiencias1 from "../assets/images/experiencias/gastronomia-exquisita.png";
import imageExperiencias2 from "../assets/images/experiencias/experiencia-inigualable.png";
import imageExperiencias3 from "../assets/images/experiencias/servicios-personalizados.jpg";

import imageViajes1 from "../assets/images/viajes/singapur-avatar.png";
import imageViajes2 from "../assets/images/viajes/paris-rio-sena.png";
import imageViajes3 from "../assets/images/viajes/francia-claude-monet.png";

import imagenTestimonios1 from "../assets/images/testimonios/testimonio-1.jpeg";
import imagenTestimonios2 from "../assets/images/testimonios/testimonio-2.jpeg";
import imagenTestimonios3 from "../assets/images/testimonios/testimonio-3.jpeg";
import imagenTestimonios4 from "../assets/images/testimonios/testimonio-4.jpeg";

import imagenEliany from "../assets/images/eliany-caballero.jpg";

import imagenBannerNeedSea1 from "../assets/images/needsea/SNG519x77text.jpg";
---

<!-- Portal Home -->
<div class="relative">
	<!-- Hero Image -->
	<div class="relative w-full h-screen">
		<Image src={imageBannerHome} alt="Portada que muestra crucero de lujo" class="w-full h-full object-cover" loading="eager" />
	</div>

	<div class="absolute bottom-10 left-1/2 transform -translate-x-1/2 text-center text-primary flex flex-col items-center animate-pulse">
		<svg
			xmlns="http://www.w3.org/2000/svg"
			width="24"
			height="24"
			viewBox="0 0 24 24"
			fill="none"
			stroke="currentColor"
			stroke-width="2"
			stroke-linecap="round"
			stroke-linejoin="round"
			class="w-16 h-16"
		>
			<path fill="currentColor" d="M18 6.41L16.59 5L12 9.58L7.41 5L6 6.41l6 6z"></path><path
				fill="currentColor"
				d="m18 13l-1.41-1.41L12 16.17l-4.59-4.58L6 13l6 6z"></path></svg
		>
	</div>
</div>

<!-- Sección Principal -->
<section class="container mx-auto px-6 py-30 max-w-6xl">
	<div class="grid grid-cols-1 md:grid-cols-12 gap-8 items-center">
		<!-- Título Principal (más espacioso) -->
		<div class="md:col-span-5">
			<h1 class="text-letras text-3xl md:text-4xl md:hidden font-semibold leading-tight text-center">
				NAVEGA CON ESTILO <br /> POR LOS RINCONES DEL PLANETA
			</h1>

			<h1 class="text-letras hidden md:block text-3xl md:text-4xl font-semibold leading-tight text-end">
				NAVEGA CON ESTILO <br /> POR LOS RINCONES DEL PLANETA
			</h1>
		</div>

		<!-- Logo Central (más compacto) -->
		<div class="md:col-span-2 flex justify-center items-center">
			<Image src={imageLogoDivisorVertical} alt="Imagen" class="w-full h-full object-cover rounded-full hidden md:block" />
			<Image src={imageLogoDivisorHorizontal} alt="Imagen" class="w-full h-full object-cover rounded-full md:hidden" />
		</div>

		<!-- Contenido Derecho (más espacioso) -->
		<div class="md:col-span-5 space-y-6">
			<div class="text-gray-600 space-y-4">
				<p class="uppercase text-sm tracking-wider">
					<span class="font-semibold"> 18 años navegando por el mundo</span>, diseñando experiencias únicas para viajeros que buscan más que
					solo un destino.
				</p>

				<p class="text-base">
					En Cruceros por el Mundo nos especializamos en armar aventuras en altamar para quienes quieren viajar con estilo, saborear lo
					mejor de cada destino y vivir momentos que se quedan contigo.
				</p>

				<p class="text-base">
					Desde escapadas románticas hasta tours gastronómicos pensados para los paladares más curiosos, diseñamos cada detalle para que tú
					solo te encargues de disfrutar.
				</p>

				<p class="text-base">
					Y si te preguntas quién se ocupa de que todo fluya sin estrés… aquí entra nuestro servicio de conserjería: personalizado,
					eficiente y siempre un paso adelante.
				</p>

				<p class="text-base">
					Viajar con nosotros es más que un crucero. Es una experiencia hecha a tu medida, pensada para que cada día sea <strong
						>“¡Fenomenal!”</strong
					>
				</p>
			</div>

			<!-- Botón de Contacto -->
			<a
				href="/contacto"
				class="border-1 border-brand-blue text-brand-blue px-8 py-2 hover:bg-primary hover:text-white transition-colors duration-300 cursor-pointer"
			>
				CONTÁCTANOS
			</a>
		</div>
	</div>
</section>

<!-- Logos animados -->
<section class="container mx-auto max-w-6xl overflow-hidden py-5 m-2 w-[90%] md:w-full">
	<article class="brands-logo flex items-center justify-center gap-3 h-full">
		<!-- Logos de las marcas -->
		<Image class="h-[8rem] w-auto object-contain" src={imageMarca1} alt="celebrity x cruises logo" />
		<Image class="h-[8rem] w-auto object-contain" src={imageMarca2} alt="disney cruise line logo" />
		<Image class="h-[8rem] w-auto object-contain" src={imageMarca3} alt="explora journeys logo" />
		<Image class="h-[8rem] w-auto object-contain" src={imageMarca4} alt="princess line logo" />
		<Image class="h-[8rem] w-auto object-contain" src={imageMarca5} alt="royal caribbean logo" />

		<Image class="h-[8rem] w-auto object-contain" src={imageMarca1} alt="celebrity x cruises logo" />
		<Image class="h-[8rem] w-auto object-contain" src={imageMarca2} alt="disney cruise line logo" />
		<Image class="h-[8rem] w-auto object-contain" src={imageMarca3} alt="explora journeys logo" />
		<Image class="h-[8rem] w-auto object-contain" src={imageMarca4} alt="princess line logo" />
		<Image class="h-[8rem] w-auto object-contain" src={imageMarca5} alt="royal caribbean logo" />
	</article>
</section>

<!-- Experiencias Exclusivas Mobile -->
<div id="experiencias-exclusivas" class="py-15">
	<div class="mb-12 text-center px-6 py-15 md:text-left md:hidden">
		<h2 class="section-title text-3xl md:text-4xl mb-6">Experiencias Exclusivas</h2>
		<p class="text-gray-600 max-w-2xl mx-auto md:mx-0">
			Viajes pensados para que vivas momentos únicos en los destinos más fascinantes del mundo. Porque los mejores recuerdos no se compran… se
			viven.
		</p>
	</div>
	<section class="splide md:hidden" aria-label="Splide Basic HTML Example">
		<div class="splide__track">
			<ul class="splide__list">
				<li class="splide__slide">
					<div class="carousel-slide">
						<a href="/contacto" class="relative h-full w-full reseta">
							<div class="slide-overlay"></div>
							<Image src={imageExperiencias1} alt="Experiencia de viaje en Napa Valley" class="slide-image" />
							<div class="absolute inset-0 flex flex-col justify-end">
								<div class="p-6 mb-4">
									<h2 class="font-playfair text-2xl md:text-4xl text-gold tracking-wide py-2">GASTRONOMÍA EXQUISITA</h2>
									<p class="font-poppins text-white text-base md:text-lg max-w-md leading-relaxed py-2">
										Sabores únicos en cada parada, descubriendo la esencia de cada destino.
									</p>
								</div>
							</div>
						</a>
					</div>
				</li>
				<li class="splide__slide">
					<div class="carousel-slide">
						<a href="/contacto" class="relative h-full w-full reseta">
							<Image src={imageExperiencias2} alt="Experiencia de viaje en viñedos" class="slide-image" />
							<div class="slide-overlay"></div>
							<div class="absolute inset-0 flex flex-col justify-end">
								<div class="p-6 mb-4">
									<h2 class="font-playfair text-2xl md:text-4xl text-gold tracking-wide py-2">AVENTURA Y LUJO</h2>
									<p class="font-poppins text-white text-base md:text-lg max-w-md leading-relaxed py-2">
										Explora con estilo, combinando confort y emoción en cada momento.
									</p>
								</div>
							</div>
						</a>
					</div>
				</li>
				<li class="splide__slide">
					<div class="carousel-slide">
						<a href="/contacto" class="relative h-full w-full reseta">
							<Image src={imageExperiencias3} alt="Experiencia gastronómica" class="slide-image" />
							<div class="slide-overlay"></div>
							<div class="absolute inset-0 flex flex-col justify-end">
								<div class="p-6 mb-4">
									<h2 class="font-playfair text-2xl md:text-4xl text-gold tracking-wide py-2">SERVICIOS PERSONALIZADOS</h2>
									<p class="font-poppins text-white text-base md:text-lg max-w-md leading-relaxed py-2">
										Viajes hechos a tu medida, con atención exclusiva y detalles únicos.
									</p>
								</div>
							</div>
						</a>
					</div>
				</li>
			</ul>
		</div>
	</section>
</div>

<!-- Experiencias Exclusivas Mediun Slide -->
<div id="experiencias-exclusivas" class="max-w-6xl px-6 py-15 mx-auto hidden md:block">
	<div class="mb-12 text-center md:text-left">
		<h2 class="section-title text-3xl md:text-4xl mb-6">Experiencias Exclusivas</h2>
		<p class="text-gray-600 max-w-2xl mx-auto md:mx-0">
			Descubre nuestras experiencias de viaje diseñadas para crear recuerdos inolvidables en los destinos más extraordinarios.
		</p>
	</div>
	<section class="splide py-10" id="slider2" aria-label="Splide Basic HTML Example">
		<div class="splide__track">
			<ul class="splide__list">
				<li class="splide__slide">
					<div class="carousel-slide-medium">
						<a href="/contacto" class="relative h-full w-full">
							<Image src={imageExperiencias1} alt="Experiencia de viaje en Napa Valley" class="slide-image-medium" />
							<div class="slide-overlay-medium"></div>
							<div class="absolute inset-0 flex flex-col justify-end">
								<div class="p-8 pb-16">
									<h2 class="font-playfair md:text-2xl text-gold tracking-wide">GASTRONOMÍA EXQUISITA</h2>
									<div class="w-48 h-px bg-gold my-4"></div>
									<p class="font-poppins text-white text-base md:text-lg max-w-md leading-relaxed">
										Sabores únicos en cada parada, descubriendo la esencia de cada destino.
									</p>
								</div>
							</div>
						</a>
					</div>
				</li>
				<li class="splide__slide">
					<div class="carousel-slide-medium">
						<a href="/contacto" class="relative h-full w-full">
							<Image src={imageExperiencias2} alt="Experiencia de viaje en viñedos" class="slide-image-medium" />
							<div class="slide-overlay-medium"></div>
							<div class="absolute inset-0 flex flex-col justify-end">
								<div class="p-6 mb-4">
									<h2 class="font-playfair md:text-2xl text-gold tracking-wide">AVENTURA Y LUJO</h2>
									<div class="w-48 h-px bg-gold my-4"></div>
									<p class="font-poppins text-white text-base md:text-lg max-w-md leading-relaxed py-2">
										Explora con estilo, combinando confort y emoción en cada momento.
									</p>
								</div>
							</div>
						</a>
					</div>
				</li>
				<li class="splide__slide">
					<div class="carousel-slide-medium">
						<a href="/contacto" class="relative h-full w-full">
							<Image src={imageExperiencias3} alt="Experiencia gastronómica" class="slide-image-medium" />
							<div class="slide-overlay-medium"></div>
							<div class="absolute inset-0 flex flex-col justify-end">
								<div class="p-6 mb-4">
									<h2 class="font-playfair md:text-2xl text-gold tracking-wide">SERVICIOS PERSONALIZADOS</h2>
									<div class="w-48 h-px bg-gold my-4"></div>
									<p class="font-poppins text-white text-base md:text-lg max-w-md leading-relaxed py-2">
										Viajes hechos a tu medida, con atención exclusiva y detalles únicos.
									</p>
								</div>
							</div>
						</a>
					</div>
				</li>
			</ul>
		</div>
	</section>
</div>
<!-- Experiencias Exclusivas Mediun Slide -->

<!-- Banner Special Needs at sea  -->
<div class="max-w-2xl px-6 py-15 mx-auto">
	<a href="https://specialneedsatsea.com/quote/?aid=265549">
		<Image src={imagenBannerNeedSea1} alt="Imagen" class="w-full h-full object-cover rounded-md" />
	</a>
</div>

<!-- Diario de viajes -->
<div class="container mx-auto px-4 py-16 max-w-6xl">
	<!-- Título Principal -->
	<div class="mb-12 text-center md:text-left">
		<h2 class="section-title text-3xl md:text-4xl mb-6">Diario de viajes</h2>
		<p class="text-gray-600 max-w-2xl mx-auto md:mx-0">
			Historias reales, momentos que inspiran y rincones del mundo que dejan huella. Acompáñanos a revivir las experiencias que hacen que cada
			viaje valga la pena.
		</p>
	</div>

	<!-- Destinos -->
	<div class="space-y-16">
		<!-- Singapur -->
		<div class="flex flex-col md:flex-row items-center gap-8">
			<div class="w-full md:w-1/2">
				<Image
					src={imageViajes1}
					alt="Singapur Gardens by the Bay"
					class="w-full h-[300px] md:h-[400px] object-cover rounded-lg"
					loading="lazy"
				/>
			</div>
			<div class="w-full md:w-1/2 space-y-4">
				<h3 class="playfair-display-title text-2xl font-bold text-brand-blue">SINGAPUR</h3>
				<p class="text-gray-600">
					Nuestros tours incluyen experiencias gastronómicas únicas, permitiéndoles disfrutar de la cocina local e internacional en cada
					puerto de escala.
				</p>
				<!-- <button
					class="border-1 border-brand-blue text-brand-blue px-6 py-1.5 text-sm hover:bg-brand-blue hover:text-white transition-colors duration-300"
				>
					LEER MÁS
				</button> -->
			</div>
		</div>

		<!-- Separador CXM -->
		<div class="flex justify-center items-center">
			<Image src={imageLogoDivisor2Horizontal} alt="Imagen" class="w-full md:w-md h-full object-cover rounded-full" />
		</div>

		<!-- Rio Sena -->
		<div class="flex flex-col md:flex-row items-center gap-8">
			<div class="w-full md:w-1/2">
				<Image src={imageViajes2} alt="Rio Sena y Notre Dame" class="w-full h-[300px] md:h-[400px] object-cover rounded-lg" loading="lazy" />
			</div>
			<div class="w-full md:w-1/2 space-y-4">
				<h3 class="playfair-display-title text-2xl font-bold text-brand-blue">RIO SENA</h3>
				<p class="text-gray-600">
					Nuestros tours incluyen experiencias gastronómicas únicas, permitiéndoles disfrutar de la cocina local e internacional en cada
					puerto de escala.
				</p>
			</div>
		</div>

		<!-- Separador CXM -->
		<div class="flex justify-center items-center">
			<Image src={imageLogoDivisor2Horizontal} alt="Imagen" class="w-full md:w-md h-full object-cover rounded-full" />
		</div>

		<!-- Claude Monet -->
		<div class="flex flex-col md:flex-row items-center gap-8">
			<div class="w-full md:w-1/2">
				<Image
					src={imageViajes3}
					alt="Jardines de Claude Monet"
					class="w-full h-[300px] md:h-[400px] object-cover rounded-lg"
					loading="lazy"
				/>
			</div>
			<div class="w-full md:w-1/2 space-y-4">
				<h3 class="playfair-display-title text-2xl font-bold text-brand-blue">CLAUDE MONET, FRANCIA</h3>
				<p class="text-gray-600">
					Nuestros tours incluyen experiencias gastronómicas únicas, permitiéndoles disfrutar de la cocina local e internacional en cada
					puerto de escala.
				</p>
			</div>
		</div>
	</div>
</div>
<!-- Diario de viajes -->

<!-- Sobre nosotros -->
<div id="sobre-nosotros" class="container mx-auto px-4 py-16 max-w-7xl">
	<!-- Título y Logo -->
	<div class="text-center mb-16">
		<h2 class="playfair-display-title text-3xl md:text-4xl font-bold text-brand-blue mb-8">SOBRE NOSOTROS</h2>
		<div class="flex justify-center items-center">
			<Image src={imageLogoDivisor2Horizontal} alt="Imagen" class="w-full md:w-sm h-full object-cover rounded-full" />
		</div>
	</div>

	<!-- Contenido Principal -->
	<div class="grid md:grid-cols-2 gap-12 items-start">
		<!-- Columna de Texto -->
		<div class="space-y-6">
			<div class="space-y-2">
				<h2 class="playfair-display-title text-2xl md:text-3xl font-bold text-brand-blue text-center md:text-left">
					ELIANY CABALLERO
					<br />
				</h2>
				<h4 class="barlow-condensed-regular-italic text-xl md:text-2xl font-bold text-brand-blue text-center md:text-left">
					TU EXPERTA EN CRUCEROS. UNA GUÍA QUE TRANSFORMA SUEÑOS EN VIAJES INOLVIDABLES.
				</h4>
			</div>

			<!-- <div class="text-sm text-brand-blue font-semibold text-center md:text-left">
				<br />
			</div> -->

			<div class="h-full md:hidden">
				<Image src={imagenEliany} alt="Eliany Caballero en Marina Bay Sands, Singapur" class="w-full h-auto rounded-lg shadow-lg" />
			</div>

			<div class="text-gray-600 space-y-4">
				<p>
					Con más de 16 años de trayectoria en turismo y 56 cruceros vividos (¡y contando!), Eliany no solo vende viajes: crea experiencias
					que marcan vidas. Su amor por la vida en altamar la ha llevado a acompañar grupos en distintas navieras, brindando asesoría
					experta antes, durante y después del viaje. Además, fundó el blog Cruceros por el Mundo, donde comparte su conocimiento, anécdotas
					y consejos para inspirar a otros a explorar con confianza.
				</p>
				<p>
					Cree en el poder de la mente positiva, la excelencia como hábito y el valor de conectar con personas exploradoras como tú. Lo que
					más la mueve es recibir ese mensaje de alguien que vivió su primer crucero gracias a ella o escuchar cómo una familia encontró un
					nuevo tipo de felicidad viajando juntos.
				</p>
				<p>
					Eliany es una voz líder en la industria, una aliada del talento femenino y un ejemplo de que la pasión, bien dirigida, abre
					caminos extraordinarios.
				</p>
				<p>Déjate guiar por quien ha navegado el mundo —y sabe cómo ayudarte a hacerlo tú también.</p>
			</div>

			<a
				href="/contacto"
				class="border-1 border-brand-blue text-brand-blue px-8 py-2 hover:bg-primary hover:text-white transition-colors duration-300 cursor-pointer"
			>
				CONTÁCTANOS
			</a>
		</div>

		<!-- Columna de Imagen -->
		<div class="h-full hidden md:block">
			<Image src={imagenEliany} alt="Eliany Caballero en Marina Bay Sands, Singapur" class="w-full h-auto rounded-lg shadow-lg" />
		</div>
	</div>
</div>
<!-- Sobre nosotros -->

<!-- Sección de Testimonios -->
<div class="bg-white">
	<div class="container mx-auto px-4 py-16 max-w-7xl">
		<!-- Encabezado -->
		<div class="text-center mb-12 max-w-3xl mx-auto">
			<h2 class="playfair-display-title text-3xl md:text-4xl font-bold text-primary mb-8">HISTORIAS DE NUESTROS CLIENTES</h2>
			<!-- <blockquote class="text-xl md:text-2xl text-white font-light italic mb-4">
				"Cada crucero con Cruceros por el Mundo supera mis expectativas, ofreciendo experiencias únicas y un servicio excepcional."
			</blockquote>
			<cite class="text-white font-medium">Tony Walker</cite> -->
		</div>

		<section class="splide py-10 h-max" id="slider3">
			<div class="splide__track">
				<ul class="splide__list">
					<li class="splide__slide">
						<div class="carousel-slide-medium flex flex-col items-center">
							<div class="w-full h-100 md:h-100 md:max-w-md overflow-hidden">
								<Image src={imagenTestimonios1} alt="Testimonio crucero Napa Valley" class="w-full h-full object-cover" />
							</div>
							<div class="text-center px-6 py-8">
								<p class="text-primary font-poppins text-lg italic leading-relaxed max-w-xl mx-auto truncate-lines">
									“¡Excelente experiencia!”
								</p>
								<p class="text-letras font-bold mt-4">— Rosi y Alberto</p>
							</div>
						</div>
					</li>

					<li class="splide__slide">
						<div class="carousel-slide-medium flex flex-col items-center">
							<div class="w-full h-100 md:h-100 md:max-w-md overflow-hidden">
								<Image src={imagenTestimonios2} alt="Testimonio crucero Napa Valley" class="w-full h-full object-cover" />
							</div>
							<div class="text-center px-6 py-8">
								<p class="text-primary font-poppins text-lg italic leading-relaxed max-w-xl mx-auto truncate-lines">
									“Organizar un viaje puede ser abrumador, pero teniendo la ayuda y guía de Eliany todo fue fácil y sin
									preocupaciones. Nos ayudó a planear nuestro crucero de Año Nuevo con un servicio impecable, siempre atenta a cada
									detalle y dispuesta a responder nuestras dudas. Su experiencia y recomendaciones hicieron toda la diferencia para
									que nuestro viaje sea inolvidable. Si buscan una agente de viajes confiable y dedicada, no duden en contactarla.
									¡Totalmente recomendada!!!! Ya estamos planeando el siguiente, y obvio, de la mano de la mejor!!!!”
								</p>
								<!-- <p class="text-letras font-bold mt-4">— [NOMBRE]</p> -->
							</div>
						</div>
					</li>

					<li class="splide__slide">
						<div class="carousel-slide-medium flex flex-col items-center">
							<div class="w-full h-100 md:h-100 md:max-w-md overflow-hidden">
								<Image src={imagenTestimonios3} alt="Testimonio crucero Napa Valley" class="w-full h-full object-cover" />
							</div>
							<div class="text-center px-6 py-8">
								<p class="text-primary font-poppins text-lg italic leading-relaxed max-w-xl mx-auto truncate-lines">
									“¡La pasamos increible! Este crucero lo tomamos justamente posterior a la pandemia cuando abrieron la salida de
									los cruceros. Eliany nos asesoró de principio a fin con los requisitos de viaje, protocolos sanitarios, seguros,
									planes a bordo y la verdad es que fue un viaje maravilloso y perfecto.”
								</p>
								<p class="text-letras font-bold mt-4">— Alejandra y Carlos</p>
							</div>
						</div>
					</li>

					<li class="splide__slide">
						<div class="carousel-slide-medium flex flex-col items-center">
							<div class="w-full h-100 md:h-100 md:max-w-md overflow-hidden">
								<Image src={imagenTestimonios4} alt="Testimonio crucero Napa Valley" class="w-full h-full object-cover" />
							</div>
							<div class="text-center px-6 py-8">
								<p class="text-primary font-poppins text-lg italic leading-relaxed max-w-xl mx-auto truncate-lines">
									“Si realmente quieres descansar, conocer, comer, divertirte, bailar, reír y ser feliz. Irte de crucero será tu
									mejor opción, no te vas a arrepentir. Viajamos con Cruceros Por El Mundo todos los años!”
								</p>
								<p class="text-letras font-bold mt-4">— Familia Chong Cheng</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</section>
	</div>
</div>

<!-- Banner Special Needs at sea  -->
<!-- <div class="max-w-2xl px-6 py-15 mx-auto">
	<a href="https://specialneedsatsea.com/quote/?aid=265549">
		<Image src={imagenBannerNeedSea1} alt="Imagen" class="w-full h-full object-cover rounded-md" />
	</a>
</div> -->
